@import url('https://fonts.googleapis.com/css2?family=Acme&family=Imperial+Script&family=M+PLUS+Code+Latin&family=Overpass:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
img{
    height: 450px;
    width: 1100px;
    margin-bottom: 20px;
}

h1{
    font-size: 30px;
    color: rgb(245, 156, 47);
    font-family:'Imperial Script', cursive;;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    justify-content:  space-around;
    margin-top: 2rem;
}
nav {
    padding: 2rem 0;
    justify-content:  space-around;
    display: flex;
}
nav ul{
    list-style-type:none;
    display: flex;
}
nav ul li{
    margin: 2rem;
    list-style: none;
}
nav ul li a{
    list-style: none;
    color: rgb(248, 198, 132);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Twinkle Star', cursive;;
}
nav ul li a:hover{
    color: rgb(200, 204, 204);
}
footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(51, 42, 42);
    height: auto;
    width: 100vw;
    padding-top: 30px;
    border-radius: 2rem 2rem ;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-content{
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family:  'Acme', sans-serif;
    
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    
}
.social li{
    margin: 0 10px;
}
.social a {
    text-decoration: none;
    color: azure;
}
.social a i{
    font-size: 1rem;
    color: rgb(232, 236, 243);
}
.social a:hover i{
    color: aqua;
}
.footer-bottom{
    background: rgb(206, 206, 183);
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}
.block .cadre{
    background: rgb(213, 233, 245);
    border: none;
    height: 35px;
    padding: 1rem;
    border-radius: 10px;
}
.block .btn{
    background: rgb(245, 214, 156);
    height: 30px;
    width: 70px;
    border-radius: 10px;
    margin: 1rem;
}

.block .btn:hover{
    color: rgb(231, 59, 6);
}
   
h4{
       font-size: 35px;
       color: rgb(253, 114, 90);
   } 
    